body {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    background-color: lightgray;
    font-size: 20px
}
header {
    background-color: rgb(35, 147, 218);
}
h1 {
    padding-top: 20px;
    margin: 0;
}
button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1em;
    padding: 10px;
}
nav a {
    color: white;
    display: none;
    padding: 10px;
}
h2 {
    color: black;
}
section {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
}
img {
    border: 5px solid white;
    box-shadow: 5px 5px 5px black;
    margin: 0 auto;
    object-fit: cover;
    width: 300px;
    height: 300px;
}
div {
    margin: 20px;
}
footer {
    background-color: rgb(35, 147, 218);
}
footer p {
    margin: 0;
}


@media screen and (min-width: 700px) {
section {
    grid-template-columns: 1fr 1fr;
}
}

@media screen and (min-width: 1000px) {
    section {
    grid-template-columns: 1fr 1fr 1fr;
}
button {
    display: none;
}
nav a {
    display: inline;
}
}