@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
}
h1, h2, h3 {
    font-family: 'Montserrat', Arial, sans-serif;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2 {
    text-align: center;
}
.branding {
    display: flex;
    justify-content: space-around;
}
.branding img {
    width: 20%;
}
.styleGuide h3 {
    text-align: center;
}
.paletteLink {
    display: flex;
    justify-content: center;
    align-items: center;
}
.colors {
    margin: 0 auto;
}
.colors th, .colors td {
    padding: 10px;
}
.primary {
    background-color: #C1440E;
}
.secondary {
    background-color: #2E4057;
}
.accent1 {
    background-color: #F4A261;
}
.accent2 {
    background-color: #AABD8C;
}
.colored {
    color: #F4A261;
}
.typography {
    display: flex;
    justify-content: space-around;
}
nav {
    display: flex;
    justify-content: space-around;
}
.grandCanyonPanorama {
    display: block;
    margin: 0 auto;
    width: 100%
}
.wireframes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.favoritesWireframe {
    display: flex;
    justify-content: space-around;
}

img {
    width: 25%;
}